:css
  input[type=submit] {
    padding: 0;
    border: none;
    box-shadow: none;
    background: none;
    color: #0069d6;
  }
  input[type=submit]:hover {
    text-decoration: underline;
  }
= form_for [:oauth, application] do |f|
  %input{:name => "_method", :type => "hidden", :value => "delete"}/
  = f.submit value: 'Remove', onclick: "return confirm('Are you sure?')"
